
body{
    background-color: beige;
    padding: 0;
    margin: 0;
}

header{
    background-color: burlywood;
    text-align: center;
    padding-top: 5px;
}
nav{
    background-color:#f1efef;
    text-align: center;
    list-style-type: none;
    font-size: 25px;
    font-weight: bold;
}
#Current_News{
    background-color:#f1efef;
    text-align: center;
    list-style-type: none;
}